html {
  height: 100%;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

body {
  background-color: #ffffe6;
}

h3 {
  color: #e67300;
  font-family: Sans-serif;
}

h4 {
  font-family: Sans-serif;
}